[Desktop Entry]
Version=0.1
Name=1Password
GenericName=1Password
Comment=1Password
Type=Application
Icon=${SNAP}/snap/gui/1password.png
Exec=1password-linux.1password
